.kakaotalk-logo {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.kakaotalk-logo img {
  width: 200px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 0px 80px;
}

#login-form input {
  padding: 20px 30px;
  font-size: 18px;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

#login-form input:nth-child(1) {
  border-radius: 5px 5px 0px 0px;
  border-color: rgba(0, 0, 0, 0.1);
}
#login-form input:nth-child(2) {
  border-radius: 0px 0px 5px 5px;
  border-color: rgba(0, 0, 0, 0.1);
  border-top: 0;
}

#login-form input:not([type="submit"]) {
  /* 인풋입력시 버튼색갈 갈색으로 바꾸기 */
}

#login-form input[type="submit"] {
  margin-top: 25px;
  color: var(--grey);
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #f4f4f4;
}

.login-auto {
  margin-top: 10px;
}

/* check박스 아웃라인 설정하기
  .login-auto input[type="checkbox"] {
    display: none;
  }
  
  .login-auto label {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    margin-top: 4px;
  }
  
  .login-auto input[id="cb"]:checked + label:after {
    content: "\2714";
    font-size: 12px;
  }
   */

.login-auto:not([type="checkbox"]) {
  color: var(--grey);
}

.account-setting {
  margin-top: 250px;
  display: flex;
  justify-content: center;
}

.account-setting a {
  text-align: center;
  text-decoration: none;
  color: var(--grey);
}

.account-setting__find {
  padding: 0px 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.account-setting__reset {
  padding: 0px 10px;
}

.login__body {
  background-color: var(--yellow);
}
