.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 20px;
}

.screen-header__title {
  font-size: 34px;
  font-weight: 600;
}

.screen-header__dock {
}

.screen-header__dock i {
  margin-left: 25px;
  font-size: 25px;
  color: var(--icon);
}
